.footer {
	width: 100%;
	background-image: url('../../img/footer-img.png');
	background-size: cover;
	color: $primary_font_color;
	.footer-info {
		min-height: 705px;
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
	}
	h2.title {
		font: 700 38px $primary_font;
		text-align: center;
	}
	.social-btn {
		margin: 70px 0 0 0;
		display: flex;
		flex-flow: row wrap;
		li {margin-right: 25px;}
		li:last-child {margin-right: 0;}
	}
	.copyright {
		display: block;
		padding-bottom: 30px;
		font: italic 16px $primary_font;
		text-align: center;
	}
	.fa {padding: 0 45px 0 25px;}
	.brand {
		font-weight: 700;
		font-style: normal;
	}
}